body{
    background-color:#4b0082;
    margin-left:50px;
    margin-top:50px;
    
}
div{
    background-color:white;
    font-size:40px;
}

.small{
float:center;
text-align: center;
height:500px;
width:620px;

}

.horizontal-line{
    color:#4b0082;
    font-family:'Times New Roman', Times, serif;
    font-size:140%;
    border:none;
    border-top: 3px solid white;
    text-align: center;
    margin-top: 50px ;
    width: auto;
    background-color:white;
    
    }
#table{
        font-family:'Times New Roman', Times, serif ;
        font-size: 130% ;
        text-align:left;
        color:#4b0082 ;
        background-color: white;
}
.abc{
    border:8px solid black;
    text-align:center;
    list-style-position:inside;
    
}
figure{
    margin-top:60px;
}
.def{
    font-size: 100%;
}