.two{
    color: white;
    font-size: 600%;
    text-align: CENTER;
    margin-top:20px;
    font-family:'Courier New', Courier, monospace;

}
.three{
    color: white;
    font-size: larger;
    font-size: 200%;
    text-align: center;
    font-family:inherit;

}
h1{
    font-size:100px;
}
#idk{
    font-family:'Times New Roman', Times, serif ;
    font-size: 130% ;
    text-align:center;
    background-color:white;
    color:#4b0082 ;
}
nav{
    text-align: center ;
}
.lala{
    margin-right:50px;
    background-color:white;
    border:4px solid black;
    font-size:40px;
    
    /*background-image: url( 'bg.jpg') ;
    background-size: 130%;*/
}
body{
    background-color:#4b0082;
    margin-left:50px;
    margin-top:50px;
    
}
.horizontal-line{
    color:#4b0082;
    font-family:'Times New Roman', Times, serif;
    font-size:140%;
    border:none;
    border-top: 3px solid white;
    text-align: center;
    margin-top: 50px ;
    width: auto;
    background-color:white;
    
    }
#table{
        font-family:'Times New Roman', Times, serif ;
        font-size: 130% ;
        text-align:left;
        color:#4b0082 ;
        background-color: white;
}
.wrap{overflow:hidden;
    position:relative;
}
.bg{
    opacity: 0.6;
    position: absolute;
    left:0;
    top:0;
    height:130%;
    width:100%;
    margin-left: 0px;
    
}
.content{
    position:relative;
    padding-top: 50px;
    padding-left: 50px;
    font-size: 150%;
}
.home{
    /*background-color: white;
    color:#4b0082;
    border:4px solid black;
    height:70%;
    width:30%;*/
}

.abc{
    text-align:center;
    margin-right:70px;
}
.abc2{
    text-align:center;
    margin-right:70px;
    margin-left: 100px;
}

/*figure{
}*/

.kinnu{
    margin-top: 100px;
    height:75%;
    width:95%;

    border:4px solid black;
    height:70%;
    width:30%;
    

}

.home2{
    /*background-color:#4b0082 ;
    color: white;
    text-align: center;*/
    border:4px solid black;
    height:70%;
    width:30%;

    
    
}
.kinnu3{
    margin-top: 0px;
    height:75%;
    width:95%;

    
    height:70%;
    width:30%;
    margin-left:365;
    margin-top: 100px;
    
}

figure{
    
    margin-left:350px;
    margin-right: 36em;
   
}

.def{
    height:400PX;
    width:450PX;
    

}
.kinnu2{
    margin-top: 0px;
    height:75%;
    width:95%;

    /*border:4px solid black;*/
    height:70%;
    width:30%;
    margin-left:391;
    margin-bottom:5px ;
    margin-top: 60px;
}